*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Effect */
#navbar #banner {
    width: 75%;
    max-width: 1600px;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12.5px 16px ;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
}

.btn-border{
    font-size: 16px;
    font-weight: 500;
    padding: 12.5px 16px ;
    border-radius: 100px;
    background-color: transparent;
    border-color: #00FF88;
    color: #00FF88;
}

.badge{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding: 8px 16px;
    border: none;
    background-color: #00FF88;
    border-radius: 100px;
    box-shadow: 0 3px 27px #00FF8850;
}


#navbar{
    background-color: #1A0B2E;
    display: flex;
    border: 1px solid red;
    padding: 24px 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

#navbar .logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.logo .logo-gradient{
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip:text ;
}


.menu{
    display: flex;
    gap: 32px;
    text-decoration: none;
}


.menu li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}



#banner{
    border: 1px solid red;   
    padding: 101px 525px;
    background-image: url("../assets/hero-bg.png");
    margin: 0 auto; 
    background-repeat: no-repeat;    
    background-size: cover;
}

#banner .banner-container{
    margin: 0 auto;
    text-align: center;
    width: 550px;
}

.banner-image .microphone{
    position: absolute;
    padding: 77px 116.5px 98px;
}

.banner-icon{
    position: relative;
}

.banner-icon .badge{
    position: absolute;
    top: 30px; 
    right: 123px;

}

.banner-heading{
    /* border: 1px solid red; */
    margin: 0 auto;
}


.banner-text h3{
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    padding-top: 40px;
}

.banner-text p{
    font-size: 16px;
    color: #ffffff;
    padding-top: 8px;
}

.banner-heading .banner-btn{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding-top: 24px;
    gap: 10px;
}