*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Key Frame For Moving Microphone */

@keyframes swing-side {
  0% {transform: translateX(0); }
  25% {transform: translateX(10px);}
  50% {transform: translateX(0);}
  75% {transform: translateX(-10px);}
  100% {transform: translateX(0);}
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Effect */
#navbar
#banner
#about 
#why-us{
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12.5px 16px ;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
}

.btn:hover{
    background: #00FF88;
    color: #000000;
}

.btn-border{
    font-size: 16px;
    font-weight: 500;
    padding: 12.5px 16px ;
    border-radius: 100px;
    background-color: transparent;
    border-color: #00FF88;
    color: #00FF88;
}

.btn-border:hover{
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
}

.badge{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding: 8px 16px;
    border: none;
    background-color: #00FF88;
    border-radius: 100px;
    box-shadow: 0 3px 27px #00FF8850;
}


#navbar{
    background-color: #1A0B2E;
    display: flex;
    border: 1px solid red;
    padding: 24px 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

#navbar .logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.logo .logo-gradient{
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip:text ;
}


.menu{
    display: flex;
    gap: 32px;
    text-decoration: none;
}


.menu li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}



/* This is Banner Section */

#banner{
    border: 1px solid red;   
    padding: 101px 525px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;    
    background-size: cover;
    height: auto;    
}

#banner .banner-container{
    margin: 0 auto;
    text-align: center;
    width: 550px;
}

.banner-image .microphone{
    position: absolute;
    padding: 77px 116.5px 98px;
    animation: swing-side 2s ease-in-out infinite;;
}

.banner-icon{
    position: relative;
}

.banner-icon .badge{
    position: absolute;
    top: 30px; 
    right: 123px;

}

.banner-heading{
    /* border: 1px solid red; */
    margin: 0 auto;
}


.banner-text h3{
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    padding-top: 40px;
}

.banner-text p{
    font-size: 16px;
    color: #ffffff;
    padding-top: 8px;
}

.banner-heading .banner-btn{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding-top: 24px;
    gap: 10px;
}


/* This is About Section */
#about{
    border: 1px solid red;
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
}

.about-container{
    margin: 0 auto;
    text-align: center;
}


.about-heading h3{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.about-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff80;
}


.about-container hr{
    margin: 80px 200px;
    border: none;
    height: 1px;
    background-color: #ffffff50;
}

.achievements{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.achievements h3{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}

.achievements p{
    font-size: 16px;
    color: #ffffff80;
}


/* This is "Why Choose TechWave" Section */
#why-us{
    padding: 120px 200px;
    background-color: #1A0B2E;
    border: 1px solid red;
}

.why-us-container{
    margin: 0 auto;
    
}


.why-us-container .heading h3{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;    

}

.benefit{
    padding-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}


.benefit-ele{
    background-color: #35116540;
    padding: 40px;
    border-radius: 40px;
    align-content: center;
}

.big-column{
    grid-row: span 2;
}

.big-row{
    grid-column: span 2;
}

.small-column{
    grid-column: span 1;
}

.benefit img{
    padding-bottom: 16px;
}

.benefit h3{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 16px;
}

.benefit p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff60;
    padding-bottom: 16px;
}


#features{
    padding: 120px 200px;
    background-color: #1A0B2E;
    border: 1px solid red;
}

.section-header h3{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.episodes .card-container{
    display: flex;
    padding-top: 40px;
    border: 1px solid red;
    gap: 30px;
}

.card-container .card{
    width: 380px;
    border: 1px solid red;
    border-radius: 30px;
}

